html {
	box-sizing: border-box;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
	/*background-color: #4571D8;*/
	background-color: #f2f2f2;
}

#index {
	background-color: #4571D8;
}

img {
}

img.background {
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

img.icon {
	width: 42px;
	height: 42px;
}

img.lang {
	width: 42px;
	height: 26px;
}

img.small_icon {
	width: 26px;
	height: 26px;
}

p, a, span {
	font-family:  "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	top: 0;
}

span.red_text {
	color:red;
}
span.noscript {
	color: black;
}
span {
	color: #4571D8;
}

#mainContainer {
	border: 1px solid #dbdbdb;
	background-color: white;
	margin-top: 70px;
	padding: 10px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 760px;
}

#centeredCapsule {
	background-color: transparent;
	margin-top: 40px;
	max-width:608px;
	height:509px;
	/*border: 1px solid #E7E7E7;*/
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/indexCapsule.png);
	background-origin: content-box;
	background-size: 100% 509px;
	background-repeat: no-repeat;
	background-origin: border-box;
}

#centeredCapsuleContent {
	padding-top: 120px;
	padding-bottom: 120px;
	/*border: 1px solid red;*/
	max-width: inherit;
	max-height: inherit;
	width: 100%;
	height: 100%;
}

#loginModal, #registerModal, #centeredCapsuleContent, #pageContent {
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	/*float: center; (?)*/
}

table {
}

table#top_menu {
	min-width: 300px;
	max-width: 780px;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
    margin-left:auto; 
    margin-right:auto;
	top: 0px;
}

td {
}

td#logout {
	width: 15%;
	/*border: 1px solid red;*/
	text-align: right;
}

td#icon_box {
	width: 15%;
	/*border: 1px solid red;*/
}

td#name {
	width: 70%;
	text-align: center;
}

#topBar
{
	overflow-x: auto;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 58px;
	width: 100%;
	background-color: white;
	border-bottom: 2px solid #4571D8;
	/*float: center; (?)*/
}

#closed_capsule
{
	max-width: 500px;
	max-height: 418px;
	width: 100%;
	height: 83.6vw;
	background-image: url(images/capsule.png);
	background-origin: content-box;
    background-size: contain;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

#closed_capsule_content 
{
	padding-top: 48%;
	/*margin-top: 240px;*/
	width: 100%;
	/*border: 1px solid green;*/
}

#timeBox
{
	width: 200px;
	height: 40px;
	/*float: center; (?)*/
	margin-left: auto;
	margin-right: auto;
	background-color: #202f59;
}

#timeText
{
	display: inline-block; 
	text-align: center;
    /*border: 1px solid red;*/
	padding-top: 10px;
	color: #58b95f;
	font-size: 20px;
	font-family: "Courier New", sans-serif;
}

#messageBox
{
	border: 2px solid #4571D8;
	background-color: #f6f8fd;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	width: 100%;
	
}

#message {
	text-align: justify;
	padding: 15px;
}

.modal {
	overflow-y: auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	width: 280px;
    background-color: #fefefe;
    margin: auto;
	margin-bottom: 120px;
    padding: 20px;
    border: 1px solid #888;
}

/*tutorial modals*/
.tutorialModal{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    max-height: 100%; /* Full height */
    /*background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}

.tutorial-modal-content{
	width: 280px;
    background-color: #fefefe;
    margin: auto;
	margin-bottom: 120px;
    padding: 20px;
    border: 1px solid #888;
	box-shadow: 0px 0px 30px #aaaaaa;
}

#newcapsulebtn_tutorial.tutorialModal{
	padding-top: 390px;
}

#mycapsules_tutorial.tutorialModal{
	padding-top: 30px;
}

#message_tutorial.tutorialModal{
	padding-top: 30px;
}

#date_tutorial.tutorialModal{
	padding-top: 250px;
}

#enclosebtn_tutorial.tutorialModal{
	padding-top: 360px;
}



/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a, a:visited
{
	text-decoration: none;
	background-color: #FFFFFF;
	color: #4571d8;
}

a:hover, a.howto:hover
{
	text-decoration: underline;
	cursor: pointer;
}

a.howto, a.howto:visited
{
	text-decoration: none;
	color: #737373;
}

/*
.dropdown
{
	color: #bfbfbf;
	
}

.dropdown-content
{
	display:none;
	background-color:white;
	border: 1px solid #dbdbdb;
	position: absolute;
	padding: 20px;
	top: 400px;
	margin-left:auto;
	margin-right:auto;
}

.dropdown:hover .dropdown-content
{
	display: block;
}
*/

#pageContent {
	width: inherit;
	height: inherit;
	padding-top: 36px;
	text-align: center;
	/*border: 1px solid red;*/
}

#myCapsules
{
	margin: auto;
	min-width: 100px;
	max-width: 563px;
	width: 100%;
	height: 100%;
	height: 300px;
	/*padding: 0px 20px;*/
	background-color: white;
	border: 1px solid #dbdbdb;
	overflow-x: auto;
	overflow-y: scroll;
	/*appearance: none;*/
	/*box-shadow: none;
	border-radius: none;*/
}

.capsuleField
{
	display:inline-block;
	padding: 10px 10px;
	width: 526px;
	height: 50px;
	border-bottom: 1px solid #dbdbdb;
	/*border: 1px solid red;*/
}

.capsuleField:hover .removeBtn
{
	/*opacity:1;*/
	visibility: visible;
}


.capsuleFieldText
{
	max-width: 400px;
	width: 100%;
	color: #4571D8;
	white-space: nowrap;
	overflow:hidden !important;
    text-overflow: ellipsis;
	vertical-align: middle;
	line-height: 50px; 
	display: inline-block;
	transition-duration: 0.2s;
}

.capsuleFieldText:hover
{
	background-color: #f4f4f4;
	/*border: 1px solid #dbdbdb;*/
	
}

.capsuleFieldRemove
{

	float: right;
}

.removeBtn
{
	/*opacity:0;
	transition:opacity 0.2s linear;*/
	visibility: hidden;
	/*visibility: hidden; -will prevent new users from randomly clicking on delete button (in case of confirmation screen it's not a problem hto)*/
    background-color: transparent;
    border: none;
    text-decoration: none;
	cursor: pointer;
	margin-top: 3px;
	/*
	padding-bottom: 5px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	*/
	padding: 8px 8px 5px 8px;
}

.removeBtn:hover 
{
	background-color:#f4f4f4;
}

.inputField
{
	margin: auto;
	margin-top: 5px;
	padding: 8px;
	width: 200px;
	display:block;
	font-size: 16px;
	/*appearance: none;*/
	/*box-shadow: none;
	border-radius: none;*/	
}

.errorField
{
	padding-top: 2px;
	height: 20px;
	font-family:  "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;
	color: #ce2525;
	text-align: center;
}

#capsuleCreationText 
{
	margin: auto;
	font-size: 16px;
	max-width: 650px;
	width: 100%;
	font-family:  "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


.button, .small_button, a.small_button
{
	position:relative;
	display: inline-block;
	min-width: 100px;
	background-color: #4571D8;
	color: white;
	padding: 10px;
	cursor: pointer;
	border: 2px solid #1475c5;	
}


/*a.small_button {
	width:100px;
}*/

.button:hover, .small_button:hover, a.small_button:hover
{
	background-color: #6289e1;
}

.button:active, .small_button:active, a.small_button:active
{
	background-color: #375bac;
}

.buttonInverted
{
	background-color: white;
	color: #4571D8;
	padding: 10px 20px;
	cursor: pointer;
	border: 2px solid #4571D8;
}

.buttonInverted:hover
{
	border: 2px solid #375bac;
	color: #375bac;
}

noscript {
	/*float:center; (?)*/
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	width:inherit;
}

#login_buttons {
	
}

.g-signin2 {
	display: inline-table;
	margin-left: 10px;
}

#googleMap {
	width:100%;
	height:400px;
}